

<div class="container">

        <% @comments.each do |comment| %>  
<div class="card col-3">
       <%=render '/layouts/shared/avatar'%>
    
    <div class="card-body"> 
    <h5 class="card-title"><%= comment.content %></h5>
    <p class="card-text"><%=comment.user.email%></p>
    
  </div>
</div>
<% end %>
</div>
